
@{
    ViewData["Title"] = "Index";
}

<!--Duyurular-->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <ul class="nospace group cta">
            <li class="one_third first popup">
                <article>
                    <a>
                        <i class="fa fa-star"></i>
                    </a>
                    <h6 class="heading">Pilav Günü</h6>
                    <p>okulumuzun geleneksel olarak düzenlediği pilav gününe herkes davetlidir &hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a class="pointer-events-none" href="#">
                        <i class="fa fa-comments"></i>
                    </a>
                    <h6 class="heading">Mezunlar buluşması</h6>
                    <p>Purus nulla sed sodales enim nunc semper quam leo donec eu pharetra turpis&hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a class="pointer-events-none" href="#">
                        <i class="fa fa-assistive-listening-systems"></i>
                    </a>
                    <h6 class="heading">Dernek toplantısı</h6>
                    <p>Id dapibus tellus ut iaculis tempus mi at ornare dui vestibulum vitae&hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
        </ul>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
    <div class="container">
        <h3 class="text-center">DÜZENLEDĞİMİZ ETKİNLİKLER</h3>
        <p class="text-center pb-3">Daha fazla detay için etkinliklere tıklayabilirsiniz</p>
        <table class="table table-hover">
            <thead>
                <tr><th class="w-10">#</th><th class="w-20">Başlık</th><th>İçerik</th></tr>
            </thead>
            <tbody>
                <tr><td>1</td><td>Pilav Günü</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>2</td><td>Halı Saha</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>3</td><td>Mezunlar Buluşması</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>4</td><td>Dernek Toplantısı</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>5</td><td>Çınarlara Vefa</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>6</td><td>Alt Döneme Vefa</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>7</td><td>Üst Döneme Vefa </td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr><td>8</td><td>Kariyer Günleri</td><td>Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
            </tbody>
        </table>
    </div>
</div>