
@{
    ViewData["Title"] = "Index";
}

<!--Duyurular-->
<div class="wrapper row3">
    <main class="hoc container clear">
        <!-- main body -->
        <ul class="nospace group cta">
            <li class="one_third first popup">
                <article>
                    <a>
                        <i class="fa fa-star"></i>
                    </a>
                    <h6 class="heading">Pilav Günü</h6>
                    <p>okulumuzun geleneksel olarak düzenlediği pilav gününe herkes davetlidir &hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a class="pointer-events-none" href="#">
                        <i class="fa fa-comments"></i>
                    </a>
                    <h6 class="heading">Mezunlar buluşması</h6>
                    <p>Purus nulla sed sodales enim nunc semper quam leo donec eu pharetra turpis&hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
            <li class="one_third">
                <article>
                    <a class="pointer-events-none" href="#">
                        <i class="fa fa-assistive-listening-systems"></i>
                    </a>
                    <h6 class="heading">Dernek toplantısı</h6>
                    <p>Id dapibus tellus ut iaculis tempus mi at ornare dui vestibulum vitae&hellip;</p>
                    <footer>
                        <a class="btn">Görüntüle &raquo;</a>
                    </footer>
                </article>
            </li>
        </ul>
        <!-- / main body -->
        <div class="clear"></div>
    </main>
    <div class="container">
        <h3 class="text-center">DÜZENLEDĞİMİZ ETKİNLİKLER</h3>
        <p class="text-center pb-3">Daha fazla detay için etkinliklere tıklayabilirsiniz</p>
        <table class="table table-hover">
            <thead>
                <tr><th class="w-10">#</th><th class="w-20">Başlık</th><th>İçerik</th></tr>
            </thead>
            <tbody>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>1</td><td class="row-title">Pilav Günü</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>2</td><td class="row-title">Halı Saha</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>3</td><td class="row-title">Mezunlar Buluşması</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>4</td><td class="row-title">Dernek Toplantısı</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>5</td><td class="row-title">Çınarlara Vefa</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>6</td><td class="row-title">Alt Döneme Vefa</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>7</td><td class="row-title">Üst Döneme Vefa </td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
                <tr data-source="~/img/Defaults/320x220.png" data-content=""><td>8</td><td class="row-title">Kariyer Günleri</td><td class="row-preview-content">Geleneksel Pilav Günümüze Tüm öğretmen, öğrenci ve velilerimiz davetlidir...</td></tr>
            </tbody>
        </table>
    </div>
</div>
@section scripts{ 
    <script>
        let global_image = "/img/Defaults/320x220.png";

         //duyurulara click olduğunda yapılacakalr
        $('.one_third').on('click', function () {
            var content = $(this).find('p').text();
            var title = $(this).find('h6.heading').text();
                                    
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal img').attr('src', global_image);
            $('.modal').modal();
        });


        $('tbody tr').on('click', function () {

            let title = $(this).find('.row-title').text();
            let content = $(this).find('.row-preview-content').text();
            let source = $(this).data('source');
            $('.modal img').attr('src', global_image);
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal').modal();

        });


        //document ready popup
        $(document).ready(function () {
            var content = $('.popup').find('p').text();
            var title = $('.popup').find('h6.heading').text();

            $('.modal img').attr('src', global_image);
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal').modal();

        });


    </script>
}