@{
    ViewData["Title"] = "Index";
}

<div class="p-0  d-flex">
    <div class="row">
        <div class="col-md-3 ">
            <!-- Nav pills -->
            <div class="nav nav-directions nav-pills m-3 p-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                <a class="nav-link active" href="#tuzuk" role="tab">Tüzük</a>
                <a class="nav-link" href="#yk" role="tab">Yönetim Kurulu</a>
                <a class="nav-link" href="#ku" role="tab">Kurucu Üyler</a>
                <a class="nav-link" href="#hak" role="tab">Hakkımızda</a>
            </div>
        </div>
        <div class="col-md-9">
            <!-- Tab panes -->
            <div class="tab-content px-5">
                <div class="tab-pane p-0 active" id="tuzuk">
                    <h3>Tüzük</h3>
                    <p>
                        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Ex corporis saepe mollitia nesciunt! A pariatur doloribus
                        beatae, illo similique, alias dolorem accusantium obcaecati asperiores ipsam distinctio earum blanditiis, harum
                        maiores?
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Maiores reiciendis nulla soluta iure atque excepturi
                        necessitatibus exercitationem! Expedita, perspiciatis accusamus enim reiciendis eius labore unde! Nulla numquam
                        sunt eveniet obcaecati.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum atque labore consequuntur odio minus, autem
                        velit laborum voluptatum magni rem. Eos, eligendi dolor nulla sint sit iure ratione delectus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum atque labore consequuntur odio minus, autem
                        velit laborum voluptatum magni rem. Eos, eligendi dolor nulla sint sit iure ratione delectus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum atque labore consequuntur odio minus, autem
                        velit laborum voluptatum magni rem. Eos, eligendi dolor nulla sint sit iure ratione delectus.
                    </p>
                    <p>
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Esse ipsum atque labore consequuntur odio minus, autem
                        velit laborum voluptatum magni rem. Eos, eligendi dolor nulla sint sit iure ratione delectus.
                    </p>

                </div>
                <div class="tab-pane p-0 fade" id="yk">
                    <h3 class="text-center">Yönetim Kurulu</h3>
                    <div class="row p-0 mx-0 justify-content-center">
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-0 fade" id="ku">
                    <h3 class="text-center">Kurucu Üyeler</h3>
                    <div class="row mx-0 p-0 justify-content-center">
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                        <div class="main-card border">
                            <div class="icon">
                                <img class="circle border img-fluid" src="~/img/Defaults/30300440.jpg" alt="prfoil foto">
                            </div>
                            <h6 class="text-center">
                                Barış Can Yılmaz
                            </h6>
                            <p class="text-center">
                                2017
                            </p>
                            <p class="text-center">
                                Medya Yönetimi
                            </p>
                        </div>
                    </div>
                </div>
                <div class="tab-pane p-0 fade" id="hak">
                    <h3>Hakkımızda</h3>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut laborum quo, eius libero accusamus ratione
                        sed tempora, recusandae repellat veritatis cum! Deserunt facere tempora at quas magnam. Totam, nesciunt.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut laborum quo, eius libero accusamus ratione
                        sed tempora, recusandae repellat veritatis cum! Deserunt facere tempora at quas magnam. Totam, nesciunt.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut laborum quo, eius libero accusamus ratione
                        sed tempora, recusandae repellat veritatis cum! Deserunt facere tempora at quas magnam. Totam, nesciunt.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut laborum quo, eius libero accusamus ratione
                        sed tempora, recusandae repellat veritatis cum! Deserunt facere tempora at quas magnam. Totam, nesciunt.
                    </p>
                    <p>
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fuga aut laborum quo, eius libero accusamus ratione
                        sed tempora, recusandae repellat veritatis cum! Deserunt facere tempora at quas magnam. Totam, nesciunt.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

<!--Sections-->
@section scripts{
<script>
    $('a.nav-link').click(function (e) {
        var href = $(this).attr('href');
        let inx = href.indexOf('#');
        tabShow(href.substr(inx));
    })

    $('.nav-pill-list a').click(function () {
        var pillData = $(this).data('pill');
        tabShow(pillData);
    });

    $(document).ready(function () {
        var hash = location.hash;
        tabShow(hash);
    })

    function tabShow(params) {
        switch (params) {
            case "#tuzuk":
                $('a[href="#tuzuk"]').tab('show');
                break;
            case "#yk":
                $('a[href="#yk"]').tab('show');
                break;
            case "#hak":
                $('a[href="#hak"]').tab('show');
                break;
            case "#ku":
                $('a[href="#ku"]').tab('show');
                break;
        }
    }
</script>
}
