
@{
    ViewData["Title"] = "Index";
}

<!-- Anılarımız-->
<div class="wrapper row3">
    <section class="hoc container clear">
        <div class="d-flex justify-content-center">
            <div class="center btmspace-50  anilarimiz">
                <h3 class="font-x2 nospace">Anılarımız</h3>
                <p class="nospace">
                    Okul hakkında anılarımıza sen de kendi anını katmak istyorsan
                    <a href="#moment">tıkla</a>
                </p>
            </div>
        </div>

        @await Component.InvokeAsync("Moments")

    </section>
</div>
<hr>

<!-- Add Moment -->
<div class="container ">
    <form id="moment" class="form mx-auto">
        <h3>Anılarınızı Yazabilirsiniz</h3>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="title">Başlık</label>
                <input type="text" id="title" class="form-control form-control-lg" name="title">
            </div>
            <div class="col-md-6">
                <label for="name">Gönderen adınız</label>
                <input type="text" id="name" name="name" class="form-control form-control-lg">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-md-6">
                <label for="email">E Mail </label>
                <input type="email" id="email" class="form-control form-control-lg" name="email" placeholder="Anılarınızın yayınlanamaması durumunda gereklidir.">
            </div>
            <div class="col-md-6">
                <label for="file">Kapak Kotoğrafı </label>
                <input type="file" accept="image/*" id="file" class="form-control-file" name="file">
            </div>
        </div>
        <div class="form-group">
            <label for="content">İçerik</label>
            <textarea id="content" name="content"></textarea>
        </div>
        <input type="submit" class="btn">
    </form>
</div>
<hr>
@section scripts{
    <script src="https://cdn.ckeditor.com/4.9.2/basic/ckeditor.js"></script>
    <script>
        CKEDITOR.replace('content');

        //anılara tıklandığında yapılacaklar
        $('.moments .col-md-4').click(function () {
            var content = $(this).find('p').text();
            var title = $(this).find('h4').text();
            var image = $(this).find('img').attr('src');

            $('.modal img').attr('src', image);
            $('.modal .modal-body').text(content);
            $('.modal .modal-title').text(title);
            $('.modal').modal();
        });

    </script>
}